:root {
  --clip-gutter-background: rgba(200, 225, 200, 1);
  --clip-target-background: rgba(67, 82, 57, 1);
  --clip-target-border: rgba(52, 240, 48, 1);
}

.container {
  display: flex;
  max-width: 800px;
  margin: auto;
  flex-flow: row wrap;
}

.clip-gutter { }

.clip-container {
  background: var(--clip-gutter-background);
  height: 65px;
  width: 95px;
  margin: 8px;
}

.video {
  flex: 1 0%;
}

.clip-targets {
  flex: 1 100%;
  display: flex;
}

.clip-target-container {
  background: var(--clip-target-background);
  height: 65px;
  width: 95px;
  border: 2px solid var(--clip-target-border);
  margin: 20px;
}

.clip {
  cursor: move;
  height: 100%;
  width: 100%;
  display: flex;
}

.clip > img {
  max-width: 90%;
  margin: auto;
}
